

.skin-blue .sidebar-menu>li.header {
	font-size:16px;
	color:#FFFFFF;

}

.skin-blue .main-header .logo {
	background-color: transparent;
}

.skin-blue .main-header .logo:hover {
	background-color: transparent;
}

.skin-blue .main-header .navbar {
	background-color: #222d32;
}
